.imgLogo1{
    padding-top: 7%;
    width: 50%;
    transition: transform 0.5s ease;
}
.imgLogo2{
    margin-top:-4%;
    padding-bottom: 7%;
    width: 31%;
    transition: transform 0.5s ease;
}
.imgLogo3{
    width:10%;
}
.imgCavalo{
    height: 130%;
    transition: transform 0.5s ease;
}
.titulo{
    display: flex;
    flex-direction: column;
    color:#AF5F0E;
    font-family: "Poppins", sans-serif;
    padding-top: 3%;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuLogo{
    background-image: url('assets/img/background/logoBackgound.png');
    background-size: cover;
}
.apresentacao{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,121,1) 100%);
}
.menu{
    background-image: url('assets/img/background/menuBackground.png');
    background-size: cover;
    padding-left:5%;
    padding-right:4.5%;
    padding-top:13%;
    padding-bottom:10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#personagens{
    background-image:  url('assets/img/itensMenu/Sandy_Happy.png');
    background-size: cover;
}
#arfetatos{
    background-image:  url('assets/img/itensMenu/Elvish_Jewelry.png');
    background-size: 60%;
    background-position: 50%;
    background-repeat: no-repeat;
}
#minerios{
    background-image:  url('assets/img/itensMenu/Diamond.png');
    background-size: 60%;
    background-position: 50%;
    background-repeat: no-repeat;
}
#animais{
    background-image:  url('assets/img/itensMenu/Blue_Chicken.png');
    background-size: 60%;
    background-position: 50%;
    background-repeat: no-repeat;
}
#plantacoes{
    background-image:  url('assets/img/itensMenu/Giant_Powdermelon.png');
    background-size: 60%;
    background-position: 50%;
    background-repeat: no-repeat;
}
#botaoMenu{
    visibility: hidden;
    width:0px;
    height:0px;
    position: fixed;
}

body{
    margin: 0px;
}
header{
    display: flex;
    padding: 2%;
    padding-left: 5%;
}
nav a{
    color:#D69554;
    font-size: 120%;
}
nav{
    justify-content: space-around;
    display:flex;
    width:100%;
    padding-top: 2%;
}
a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
section{
    display:flex;
    flex-direction: row;
    padding: 10%;
    justify-content:space-between;
}
button{
    position: relative; 
    cursor: pointer;
    background-color: #000079;
    width: 13rem;
    height: 13rem;
    border-radius: 15%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}
button .filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15%;
}
p{
    padding-top: 6%;
    text-align: center;
    font-size: 120%;
    color:#000079;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
h1{
    font-size: 300%;
    margin: 0px;
}
h6{
    font-size: 170%;
    margin: 0px;
}
span{
    position: relative;
    color: #dfad7c;
    font-size: 120%;
    font-weight: 600;
    visibility:hidden;
    font-family: "Poppins", sans-serif;
}
footer{
    padding: 5%;
    background-color: #000079;
    text-align: center;
}
footer a{
    color:#D69554;
    font-size: 110%;
    margin:0px;
}
footer p{
    font-weight: 400;
    font-size: 95%;
    color:#D69554;
    padding-top:0px;
}
footer p a{
    font-size: 97%;
}

.imgLogo1:hover{
    transform: rotate(-15deg);
}
.imgLogo2:hover{
    transform: rotate(30deg);
}
.imgCavalo:hover{
    transform: rotate(-30deg);
}
button:hover span{
    visibility: visible;
}
button:hover .filter{
    background-color: #3131aa93; 
    backdrop-filter: blur(10px); 
}
nav a:hover{
    color:#E6BD94;
    font-size: 117%;
    font-weight: 500;
}
footer a:hover{
    color:#E6BD94;
    font-weight: 500;
}
.imgLogo3{
    width:8rem;
    transition: transform 0.5s ease;
}
.imgLogo3:hover{
    transform: rotate(-30deg);
}

/*(min-width: 900px) and */
@media (max-width: 1070px){
    section{
        padding:7%;
        padding-top:15%;
        padding-bottom:20%;
        flex-direction: column;
        align-items: center;
    }
    .imgLogo1{
        width: 53%;
        padding-top: 45%;
    }
    .imgLogo2{
        padding-top: 1%;
        width:33%;
        padding-bottom: 40%;
    }
    .menuLogo{
        background-image: url('assets/img/background/logobackGroundTablet.png');
        padding-top: 3%;
        padding-left: 3%;
    }
    .menu{
        background-image: url('assets/img/background/menuBackgroundTablet.png');
        padding-left: 3%;
        padding-right: 3%;
    }
    button{
        width: 11rem;
        height: 11rem;
    }
    .titulo4{
        padding-top: 2%;
        text-align: center;
    }
    .imgCavalo{
        width: 300%;
        margin-left: -80%;
        padding-bottom: 40%;
        
    }
    #botaoMenu{
        visibility: visible;
        width:3rem;
        height: 3rem;
        border-radius: 0%;
        background-image: url('assets/img/iconeMenu.png');
        background-size: 80%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-color:#af5e0e00;
    }
    header{
        visibility: hidden;
    }
}
    /*até 320px*/
@media (max-width: 600px){
    button{
        height: 8rem;
        width: 8rem;
    }
    #personagens{
        margin-top: 0%;
    }
    #plantacoes{
        margin-bottom: 0%;
    }
    .menu{
        padding:3%;
        background-image: url('assets/img/background/menuBackgroundCelular.png');
    }   
    .imgCavalo{
        width: 190%;
        padding-left: 50%;
    }
    h1{
        font-size: 150%;
    }
    h6{
        font-size: 120%;
    }
}